@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
	overflow-x: hidden;
}

body {
	background-color: #fffcf7;
	max-width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

footer {
	text-align: center;
	padding: 15px;
	background-color: #ffd897;
}

h1 {
	font-family: 'Architects Daughter' !important;
	font-weight: bolder;
	font-size: 40pt;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center !important;
	font-weight: bold;
}

.container {
	padding-top: 10vh;
}

.card-rihand {
	border-radius: 15px;
}

.card-rihand-img {
	background-color: #ffd897;
	padding: 15px;
	z-index: 99;
	position: relative;
	top: 25px;
}

.card-rihand-img-list {
	background-color: #FFF;
	padding: 20px;
}

.card-rihand-body {
	background-color: #fed6ce;
	border-radius: 15px;
	text-align: left !important;
}

.card-rihand-list {
	cursor: pointer;
	padding: 10px;
}

.card-rihand-list:hover {
	border: solid 0px #cbaba4;
	border-radius: 10px;
	background-color: #fee2dc;
}

.card-rihand-img-list-caption {
	font-size: larger;
}

.timeline-title {
	text-align: right;
	font-weight: bold;
}

li:not(:last-child) { 
  margin-bottom: 3px;  
}

.table {
	border-color: #808080 !important;
}