@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    overflow-x: hidden;
    background-color: #effefe;
    background-image: url("bg.png");
    max-width: 100%;
    position: relative;
    color: #54705a;
    font-family: 'Fredoka', serif;
    font-size: larger;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fredoka', sans-serif;
    color: #e65054;
    font-weight: bold;
}

.h-title {
    color: #54705a;
}

.btn-accent {
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 35px;
    border-color: #e65054;
    background-color: #e65054;
    transition: all .2s ease-in-out;
}

.btn-accent:hover {
    color: #ffffff;
    border-radius: 35px;
    border-color: #e65054;
    background-color: #e65054;
    transform: scale(1.1);
}

ol.ol-margin > li {
    margin-bottom: 10px;
}

.text-left {
    text-align: left;
}

.img-logo {
    padding-top: 10px;
    padding-left: 10px;
}

.container {
	padding-top: 10vh;
}

.card-rihand {
	border-radius: 15px;
}

.card-rihand-body {
	background-color: #ffffff;
	border-radius: 15px;
	text-align: left;
    color: #54705a;
}

.modal {
    text-align: left;
    color: #54705a;
}

* {
    color: #54705a;
}

hr.hr-bold {
    border: 3px solid;
    border-radius: 1px;
}