@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    overflow-x: hidden;
    max-width: 100%;
    background: #fcf1fe;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: 600;
    color: #260b51;
}

h1,h2,h3,h4,h5,h6,button,a {
    font-family: 'Almendra', serif;
    font-weight: 700 !important;
}

.h-title {
    font-family: 'Almendra', sans-serif;
    font-weight: 900;
}

.container {
	padding-top: 5vh;
}

.title {
    text-align: center;
    color: #280c57;
    /* text-shadow: 2px 2px #885225; */
    /* -webkit-text-stroke: 1px #885225; */
}

.card {
    border-radius: 25px;
    background-color: #fff;
}

.btn-accent {
    background-color: #ddccef;
}

.btn-accent:hover {
    background-color: #c9b4ea;
    transform: scale(1.1);
}

.text-left {
    text-align: left !important;
}