@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: #F5E1EF;
}

.input-group-text {
    width: 15% !important;
    justify-content: center;
    font-size: x-large;
}

.form-floating {
    width: 80% !important;
}

.bi-large {
    font-size: xx-large;
}

.bg-purple {
    background-color: #6f42c1;
}

/** LOADER SPINNER **/

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #aac8e0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/** FOOTER BLOB WAVE **/

.custom-shape-divider-bottom-1643712282 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643712282 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 238px;
}

.custom-shape-divider-bottom-1643712282 .shape-fill {
    fill: #f7e1a5;
}